
<div class="row" ng-controller="MasterDetailCtrl">
    <div class="col-md-12">
        gfhfhf.  {{test}}
    </div>
</div>
<script src="~/Scripts/angular.js"></script>
<script>
    var myApp = angular.module('myApp', []);

    myApp.controller('MasterDetailCtrl', function ($scope) {

        $scope.test = "ram";
    });

</script>